<p>
  main-editable works!
</p>

<div>  <button (click)="addMainGroup(maingroup)">Add New Group</button></div>

<ul class="group" *ngFor="let eachgroup of maingroup; let groupIndex = index;">
  <h2 class="group"><textarea rows="1" cols="40" [(ngModel)]="eachgroup.name"></textarea></h2>
  <button (click)="updateGroupName(eachgroup,eachgroup.name)">Save Name</button>
  <button (click)="addMain(eachgroup)">Add New</button>
  <li *ngFor="let main of eachgroup.samemains;let sameIndex = index ">
    <a style="text-decoration:none" routerLink="/detail/{{main.id}}">{{main.name}}</a>
    <button (click)="deleteMain(main,sameIndex,eachgroup)">Delete</button>
  </li>
</ul>
