<div class="newGroupButton"> <button class="button" (click)="addMainGroup(this.itemType.Group)">Add A New Group</button>
</div>

<ul class="ul" *ngFor="let eachgroup of itemGroup; let groupIndex = index;">
  <fieldset class="myfieldset">
    <legend class="legend">Group {{groupIndex+1}}</legend>
    <h2 class="h2">
      <textarea class="title" [(ngModel)]="eachgroup.name"></textarea>
      <button class="button" (click)="updateItem(eachgroup)">Save Group Name</button>
      <button class="button" (click)="deleteMain(eachgroup.id)">Delete Group</button>
      <button class="button" (click)="addMain(eachgroup.id,this.itemType.Link)">Add Main Section</button>
      <button class="button" (click)="addMain(eachgroup.id,this.itemType.Questionnaire)">Add Questionnaire</button>
    </h2>

    <li *ngFor="let id of eachgroup.childrenIds; let itemIndex = index">
      <fieldset class="fieldset">
        <div id="forLink" *ngIf="getItemById(id).type !== itemType.Questionnaire; else question">
          <a class="a" style="text-decoration:none" routerLink="/detail/{{id}}">{{getItemById(id).name}}
          </a>
          <div class="button2Div">
            <button class="button2" (click)="deleteMain(id)">Delete</button>
            <button class="button2" (click)="itemUp(id,itemIndex)">up</button>
            <button class="button2" (click)="itemDown(id,itemIndex)">down</button>
          </div>
        </div>
        <ng-template #question>
          <a class="a" style="text-decoration:none" routerLink="/question/{{id}}">{{getItemById(id).name}}
          </a>
          <div class="button2Div">
            <button class="button2" (click)="deleteMain(id)">Delete</button>
            <button class="button2" (click)="itemUp(id,itemIndex)">up</button>
            <button class="button2" (click)="itemDown(id,itemIndex)">down</button>
          </div>
        </ng-template>
      </fieldset>
    </li>
  </fieldset>
</ul>