<div >

  <h2>Treatment for {{treatment?.name | uppercase}} </h2>

  <ul  *ngFor="let one of treatment?.message"><h2>{{one.name}}</h2>
    <li *ngFor="let each of one.messages">{{each}}
    </li>
  </ul>

 

    <ul  *ngFor="let one of treatment?.link">
      <div  *ngIf="one.name"> <h2>{{one.name}}</h2></div>
      <li *ngFor="let each of one.title">
        
        <div *ngIf="each.type == 1"> 
          <a routerLink="/microbio/{{each.treatmentID}}">
            <div *ngIf="each.info == null">{{each.name}}</div>
            <div *ngIf="each.info != null">{{each.info}}</div></a>
        </div>
        
        <div *ngIf="each.type == 2"> 
          <a routerLink="/pathogen/{{each.treatmentID}}">
            <div *ngIf="each.info == null">{{each.name}}</div>
            <div *ngIf="each.info != null">{{each.info}}</div></a>
        </div>
      
      </li>
    </ul>
  
  
  
</div>

<button (click)="goBack()">go back</button>
