<div>
  <h2>{{main.name | uppercase}} Details</h2>

  <ul *ngFor="let section of main.section">
    <h2 class="illness" *ngIf="section.title != null">{{section.title}}</h2>

    <ul class="msg" *ngIf="section.message != null">
      <li *ngFor="let message of section.message">{{message}}</li>
    </ul>

    <ul class="illness" *ngIf="section.link != null">
      <li *ngFor="let link of section.link">
        <a style="text-decoration:none" routerLink="/detail/{{link.id}}">{{link.name}}</a>
      </li>
    </ul>
  </ul>
  <div><span>main id in mock MAINES: </span>{{main.id}}</div>
  <div><span>main name: </span>{{main.name}}</div>


</div>