.email {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 15px 5px;
  border: 1px solid #DDDDDD;
  border-radius: 0.25rem;
  width: 60%;
  height: 2em;
}

.password {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 15px 5px;
  border: 1px solid #DDDDDD;
  border-radius: 0.25rem;
  width: 60%;
  height: 2em;
}

.button {
  background: #96C8FF;
  color: #f6f5fc;
  border: 1px solid transparent;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  margin-top: 3em;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.button:disabled {
  background: #c7c7ce;
  color: #f6f5fc;
  border: 1px solid transparent;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  margin-top: 3em;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.alert {
  color: #9f9fa1;
  margin-bottom: 2em;
}

.form {
  margin-top: 3em;
}

.label {
  margin-left: 0.5em;
}

.submit {
  margin-bottom: 8em;
}
