   .messageClass {
     color: #797979;
     padding: 1rem 1rem .3rem 0rem;
     font-size: 1.2em;
     margin-right: 2px;
     margin-left: 2em;
     list-style-type: disc;
     margin-bottom: 1.3em;
   }

   .linkClass {
     line-height: 1.6em;
     list-style-type: none;
     padding: 0.75rem 0;
     padding-left: 0.2rem;
     border: 0.5px 0 0.5px 0 solid #797979;
     border-color: #dfdfdf;
     border-style: solid;
     border-width: 1px 0 0 0;
     color: #45A2D8;

   }

   .linkClassLast {
     line-height: 1.6em;
     list-style-type: none;
     padding: 0.75rem 0;
     padding-left: 0.2rem;
     border: 0.5px 0 0.5px 0 solid #797979;
     border-color: #dfdfdf;
     border-style: solid;
     border-width: 1px 0 1px 0;
     color: #45A2D8;

   }

   .arrow {
     border: solid #797979;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 3px;
     right: 20%;
     align-self: center;
     margin-top: 6px;
   }

   .right {
     transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     align-self: center;
     float: right;
     margin-right: 10px;
   }

   .down {
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     align-self: center;
     float: right;
     margin-right: 10px;
   }

   .collapsable {
     background-color: #f2f2f2;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: left;
     outline: none;
     font-size: 19px;
     border: 1px 0 1px 0 solid #797979;
     border-color: #dfdfdf;
     border-style: solid;
     border-width: 1px 0 1px 0;
   }

   .title {
     position: relative;
     left: 20px;
     bottom: 10px;
   }

   .main {
     /* border: 0.5px, 0, 0, 0, solid #797979;
     border-color: #dfdfdf;
     border-style: solid;
     border-width: 1px; */

   }
