<meta name="viewport" content="width=device-width, initial-scale=1.0">
<span>item id : {{url}}</span>
<span class="checkbox"><input type="checkbox" [(ngModel)]="isAdmin">is Admin</span>
<span><button (click)="goBack()">Back</button></span>

<div *ngIf="!isAdmin">
    <lumed-guideline-item-readonly [item]="item"></lumed-guideline-item-readonly> 
</div>

<div *ngIf="isAdmin">
    <lumed-guideline-item-editable [item]="item"></lumed-guideline-item-editable> 
</div>

<button (click)="goBack()">Back</button>