.h2 {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  border: 1px;
}

.messageClass {
  color: black;
  padding: 1em 0 1em 0.5em;
  font-size: 1.2em;
  list-style-type: none;
  border-top: 1px solid #797979;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.linkClass {
  line-height: 1.6em;
  list-style-type: none;
  padding: 1em 0 1em 0.5em;
  border-top: 1px solid #797979;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: black;
  font-size: 1.2em;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  background-color: #eee;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.checkbox {
  position: relative;
  float: right;
  margin-right: 10px;
}

.buttonDiv {
  width: 100%;
  text-align: center;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}

.buttonList {
  line-height: 1.6em;
  list-style-type: none;
  padding: 1em 0 1em 0.5em;
  border-top: 1px solid #797979;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: black;
  font-size: 1.2em;
  margin: auto;
}

.button {
  width: 80%;
  background: #45a2d8;
  color: #f6f5fc;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

ul {
  margin-top: 0;
}
