<div *ngIf="illness">

  <h2>{{illness.name | uppercase}} Details</h2>
  <ul  *ngFor="let section of illness.section"><h2 class="heroes" *ngIf="section.title !== null">{{section.title}}</h2>
    
    <ul class="msg" *ngIf="section.message !== null">
      <li *ngFor="let message of section.message">{{message}}</li>
    </ul>

    <ul class="heroes" *ngIf="section.link !== null">
      <li  *ngFor="let link of section.link">
      <a style="text-decoration:none" routerLink="/detail/{{link.id}}">{{link.name}}</a>
      </li>
    </ul>
  
  </ul>
  
  
  <div><span>illness id in mock ILLNESSES: </span>{{illness.id}}</div>
  <div><span>illness name: </span>{{illness.name}}</div>
  

</div>

<button (click)="goBack()">go back</button>