<div *ngIf="item">

  <h2 class="h2"><textarea class="title" [(ngModel)]="item.name"></textarea>
    <button class="button" (click)="updateItem(item)">Save Title</button>
    <button class="button" (click)="addItem(item.id,this.itemType.Question)">Add A New Question</button>
  </h2>

  <ul class="section" *ngFor="let id of item.childrenIds; let sectionIndex = index">
    <fieldset class="myfieldset">
      <h2 class="h2" *ngIf="getItemById(id) != null">
        <textarea class="title" [(ngModel)]="getItemById(id).name">
            </textarea>
        <button class="button" (click)="addItem(id,this.itemType.Message)">Add A New Question</button>
        <button class="button" (click)="addItem(id,this.itemType.Checkbox)">Add A New Checkbox</button>
        <button class="button" (click)="updateItem(getItemById(id))">Save</button>
        <button class="button" (click)="deleteItem(id)">Delete Question</button>
      </h2>

      <li *ngFor="let x of getItemById(id)?.childrenIds; let itemIndex = index">
        <fieldset>
          <div id="forMessage" *ngIf="getItemById(x)?.type === itemType.Message">
            <textarea class="message" [(ngModel)]="getItemById(x).name"></textarea>
            <button (click)="updateItem(getItemById(x))">save</button>
            <button (click)="deleteItem(x)">delete</button>
            <button (click)="itemUp(id,itemIndex)">up</button>
            <button (click)="itemDown(id,itemIndex)">down</button>
          </div>

          <div id="forLink" *ngIf="getItemById(x)?.type === itemType.Checkbox">{{getItemById(x).name}}
            <input class="checkbox" type="checkbox" [(ngModel)]="getItemById(x).isChecked"><br>
            <button (click)="deleteItem(x)">delete</button>
            <button (click)="itemUp(id,itemIndex)">up</button>
            <button (click)="itemDown(id,itemIndex)">down</button>
          </div>
        </fieldset>
      </li>
    </fieldset>
  </ul>

  <div class="buttonDiv">
    <button class="button" (click)="saveResult()">
      DONE
    </button>
  </div>
  <a class="a" routerLink="/result/{{newResultId}}">Result
  </a>

</div>